{% extends 'polls/base.html' %}
{% block body_block %}
<div class="page-header">
    <h1>Questions</h1>
</div>
{% if latest_question_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Question</th><th>Actions </th>
            </tr>
        </thead>
        <tbody>
        {% for question in latest_question_list %}
            <tr><td>{{ question.question_text }}</td><td><a href="{% url 'polls:results' question.id %}">Results</a> | <a href="{% url 'polls:detail' question.id %}">Vote</a></td></tr>
        {% endfor %}
        </tbody>
    </table>
    <small class="pull-right">Total: {{latest_question_list.count}}</small>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}